@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "./colors.scss";

@import "./Pages/Pages.scss";
@import "./Pages/MainPage/MainPage.scss";
@import "./Pages/AdressView/AdressView.scss";

@import "./Shared/NavBar/NavBar.scss";
@import './Pages/MainPage/AdressBlock/AdressBlock.scss';
@import "./Pages/MainPage/AdressPosting/AdressPosting.scss";
@import "./Shared/RecentActivityBar/RecentActivityBar.scss";
@import "./Pages/AdressView/TransactionBlock/TransactionBlock.scss";

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    font-size: 16px;
    width: 100vw;
    background-color: #444;

    overflow-x: hidden;

    .App {
        height: 100%;
        width: 100vw;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }
}